.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  opacity: 0;
  transform: translateY(1.25rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.features.visible {
  animation: fadeInUp 1s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--index) + 0.1s);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.25rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.containerDescription {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 6vw;
  margin-bottom: 3vw;
}

.Edicolab {
  max-width: 40vw;
  margin-right: 2vw;
}

.description {
  flex: 1;
  color: grey;
  text-align: justify;
  font-size: 1.2vw;
  /* Usando unidades de viewport width para ajuste fluido */
}

.descriptionTitle {
  flex: 1;
  text-align: center;
  font-size: 2.2vw;
  /* Usando unidades de viewport width para ajuste fluido */
}

.image {
  max-width: 35vw;
  height: auto;
  border-radius: 5%;
}

@media screen and (max-width: 1200px) {
  .containerDescription {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .description {
    font-size: 1.5vw;
  }

  .descriptionTitle {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 996px) {
  .containerDescription {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .description {
    font-size: 1.7vw;
  }

  .descriptionTitle {
    font-size: 2.5vw;
  }
}

@media screen and (max-width: 768px) {
  .containerDescription {
    flex-direction: column;
    align-items: center;
    
  }

  .Edicolab {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 2vw;
    max-width: 80vw;

  }

  .description {
    font-size: 2vw;
    max-width: 80vw;

  }

  .descriptionTitle {
    flex: 1;
    text-align: auto;
    font-size: 3.5vw;
  }

  .image {
    max-width: 80vw;
  }
}

@media screen and (max-width: 480px) {
  .containerDescription {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .description {
    font-size: 2.9vw;
  }

  .descriptionTitle {
    font-size: 5vw;
  }
}