.milestonesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.milestone {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  width: auto;
  max-width: 100%;
}

.card {
  border: 0.09rem solid #c1c1c1;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  text-align: center;
  width: 17rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card img {
  max-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  transition: transform 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 8px;
}

.card:hover .overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .milestone {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .milestone {
    flex-wrap: wrap;
  }
}


.sidebar {
  position: absolute;
  right: 4vw;
  top: 6rem;
  padding: 1rem;
  border-radius: 10px;
}

.sidebar::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #b0b0b0;
}

.sidebar h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 0.5rem;
}

.sidebar a {
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}