.teamSection {
  text-align: center;
  padding: 2rem 5vw;
}

.teamContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
  justify-items: center;
  max-width: 87%;
  margin: 0 auto;
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  opacity: 0;
  /* Inicialmente invisível */
  transform: translateY(1.25rem);
  /* Começa fora da tela */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.teamCard {
  background-color: transparent;
  padding: 0.9375rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.teamCard:hover {
  background-color: #a5a5a567;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2);
}

.imageContainer {
  position: relative;
  width: 12vw;
  height: 12vw;
  max-width: 10rem;
  max-height: 10rem;
  min-width: 8rem;
  min-height: 8rem;
  background-color: #f5dcbf;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 0.25rem #e5be90;
}

.teamImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: rgb(105, 105, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.teamCard:hover .overlay {
  opacity: 1;
}

.githubLink {
  margin: 0.5rem 0;
  font-size: 1.2vw;
}

.githubIcon {
  font-size: 3.5vw;
  color: white;
}

.name {
  font-weight: bold;
  margin-top: 0.5rem;
  font-size: 1.3vw;
  white-space: nowrap;
  overflow: visible;
  text-align: center;
}

.tag-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.role {
  font-size: 1vw;
  opacity: 1;
}

/* Media queries for different screen sizes */
@media (max-width: 1200px) {
  .githubLink {
    font-size: 1.5vw;
  }

  .githubIcon {
    font-size: 4vw;
  }

  .name {
    font-size: 1.8vw;
  }

  .role {
    font-size: 1.4vw;
  }
}

@media (max-width: 992px) {
  .githubLink {
    font-size: 1.8vw;
  }

  .githubIcon {
    font-size: 5vw;
  }

  .name {
    font-size: 2vw;
  }

  .role {
    font-size: 1.6vw;
  }
}

@media (max-width: 768px) {
  .githubLink {
    font-size: 2vw;
  }

  .githubIcon {
    font-size: 5vw;
  }

  .name {
    font-size: 2.5vw;
  }

  .role {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .githubLink {
    font-size: 2.5vw;
  }

  .githubIcon {
    font-size: 6vw;
  }

  .name {
    font-size: 3vw;
  }

  .role {
    font-size: 2.4vw;
  }
}
@media (max-width: 450px) {
  .githubLink {
    font-size: 2.5vw;
  }

  .githubIcon {
    font-size: 8vw;
  }

  .name {
    font-size: 3vw;
  }

  .role {
    font-size: 2.4vw;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.25rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.teamCard.visible {
  animation: fadeInUp 0.8s ease-in-out forwards;
  animation-delay: calc(0.2s * var(--index) + 0.1s);
}